

section {
    display: flex;
    width:100%;
    min-height: 100%;
    border: solid;
  }
 

.besoin{
    background-color: #FFEC51;
}

  .creneau{
      background-color: #FFFBDB;
  }
  
  .secjour{
    display: inline-block;
    width: 13.7%;
    text-align: center;
    
  }

  .jour{
    display: flex;
    flex-direction: column;
    background-color: #CDC7E5;
    padding-left: 8px;
   
    
    
  }

.secsemaine{
    display: flex;
    flex-direction: row;
    position: relative;
}

.semaine{
    width: 100%;
    background-color: #7776BC;
    
}
.semaine>p{
    padding-left: 8px;
    
}

.cycle{
    background-color: #ff674d;
}
.cycle>p{
    text-align: center;
    text-transform: uppercase;
}



  
  